.venv/
TODO.txt

Assignment2/__pycache__/
Assignment2/migrations/__pycache__/__init__.cpython-312.pyc
Assignment2/migrations/__pycache__/0001_initial.cpython-312.pyc
Assignment2/migrations/__pycache__/
Assignment2/api/__pycache__/

Group1_Project/__pycache__/
Group1_Project/__pycache__/settings.cpython-312.pyc
Group1_Project/__pycache__/settings.cpython-312.pyc
Group1_Project/__pycache__/urls.cpython-312.pyc

.idea/
Group1_Project/__pycache__/settings.cpython-312.pyc
Assignment2/api/__pycache__/university_service.cpython-312.pyc
Group1_Project/__pycache__/settings.cpython-312.pyc
